body
{
  font-size:200%;
  font-style:italic;
  font-family:serif;
  color:#000;
  text-align:center;
  background-color:#0ff;
}
div.SFONDO
{
  margin:5%;
  border-style:ridge;
  border-width:20px;
  border-radius:5%;
  border-color:#07f;
  background-color:#00f;
}
div.INFO
{
  background-color:#55a;
  border-style:ridge;
  border-width:20px;
  border-radius:5%;
  border-color:#55d;
}
a.ATTIVO
{
  color:White;
  background-color:#003;
  border-style:ridge;
  border-top-width:20px;
  border-bottom-width:20px;
  border-color:#005;
}
a:active
{
  color:White;
}
a
{
  padding-right:5%;
  padding-left:5%;
}
h1
{
  color:#0f0;
  font-size:600%;
  text-shadow:16px 24px #f00;
}
span.LUNGO
{
  word-wrap:break-word;
  word-spacing:10px;
  line-height:200%;
  display:block;
}
span.IMMAGINE
{
  word-wrap:break-word;
  word-spacing:10px;
  line-height:100%;
  display:block;
  border-style:ridge;
  border-width:20px;
  border-radius:5%;
  border-color:#55d;
  background-color:#55a;
  margin-bottom:5%;
  width:100%;
  background-size:100% 100%;
}
div.IMMAGINI
{
  float:left;
  margin:5%;
  width:40%;
}
a.DOWNLOAD
{
  color:Red;
  font-size:200%;
}
