body
{
	padding:30pt;
	padding-left:0pt;
	padding-right:0pt;
	text-align:center;
	font-family:"ABeeZee";
	font-size:200%;
	margin:auto;
	/*max-width:720pt;*/
}
div.home
{
	padding:30pt;
	max-width:100%;
	background-color:LightGrey;
}
div
{
	padding-top:10pt;
	max-width:810pt;
	margin:auto;
}
img
{
	width:230pt;
}
img.island
{
	width:80pt;
}
span
{
	width:265pt;
	display:inline-block;
	margin:auto;
}
a
{
	text-decoration:none;
	color:Grey;
}
a:hover
{
	color:Black;	
}
