body
{
	font-size:28pt;
	margin:0pt;
	text-align:center;
	font-family:"serif";
	/*max-width:320pt;*/
}
div
{
	padding:1%;
	border-style:ridge;
	border-width:20pt;
	border-radius:10%;
	border-color:Blue;
	background-color:LightBlue;
}
img
{
	width:100%;
}
span
{
	padding:1%;
	width:48%;
	float:left;
}
a
{
	text-decoration:none;
	font-size:129%;
	color:DarkBlue;
	padding:1%;
}
a:active
{
	background-color:Blue;
}
b
{
	background-color:Blue;
	font-size:129%;
	color:DarkBlue;
	padding:1%;
}
h1
{
	color:DarkBlue;
}
img.logo
{
	width:20%;
}
